body{
	font-family: 'PT Sans', sans-serif;
}

#page_border{
	background: whitesmoke;
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgb(245, 245, 245);
	margin: 20px;
	min-height: 700px;
}

#menu{
	background-image: url('logo.png');
	background-position: center 10px;
	background-repeat: no-repeat;
	background-size: 125px auto;
	padding: 30px;
	width: 1120px;
	height: 100px;
	margin: auto;
}

a.menu {
	padding-bottom: 5px;
	margin: 10px;
	font-size: 16px;
	display: block;
	width: 120px;
	border-bottom: 1px solid #6a6a65;
	text-decoration: none;
	color:#6a6a65;
	text-transform: uppercase;
	letter-spacing: 3px;
}

a.menu:hover{
	-moz-transition: all 275ms;
	-o-transition: all 275ms;
	-webkit-transition: all 275ms;
	transition: all 275ms;
	color:#4d90fe;
	border-bottom: 1px solid #4d90fe;
}

a.left{
	float:left;
}

a.right{
	width: 410px;
	text-align: right;
	float: right;
}

h1{
	font-size: 84px;
	word-spacing: 1px;
	line-height: 90px;
	text-transform: none;
	letter-spacing: -3px;
	color: #181818;
	text-align: center;
	margin: .95em 0 0;
}

h2{
font-size: 24px;
word-spacing: 1px;
line-height: 30px;
font-weight: 100;
text-transform: uppercase;
letter-spacing: 3px;
color: #181818;
}

span.acro{
	text-transform: uppercase;
	text-decoration: underline;
}

#search{
	padding-left: 30px;
	width: 700px;
	margin: auto;
}

#results{
	width: 1100px;
	height: 600px;
	margin: auto;
}

#stats{
	text-align: center;
	width: 960px;
	margin: auto;
	height: 300px;
	margin-bottom: 80px;
	margin-top: 80px;
}


#footer{
	width: 1120px;
	height: 150px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 0px;
	text-align: justify;
}

#footer_left{
	background-image: url('Concordia_Logo.png');
	background-position: left 10px;
	padding-left: 120px;
	padding-top: 20px;
	background-repeat: no-repeat;
	background-size: 100px auto;
	float: left;
	height: 150px;
	width: 35%;
}

#footer_right{
	background-image: url('book_mas.jpg');
	background-position: right 10px;
	padding-right: 90px;
	padding-top: 20px;
	background-repeat: no-repeat;
	background-size: 70px auto;
	float: right;
	height: 150px;
	width: 37%;
}

#footer_left img, #footer_right img{
	width: 100px;
	height: auto;
}

/* div container containing the form  */
#searchContainer {
	margin:20px;
}

/* Style the search input field. */
#field {
	float:left; 
	width:500px; 
	height:27px; 
	line-height:27px;
	text-indent:10px; 
	font-family:arial, sans-serif; 
	font-size:1em; 
	color:#333; 
	background: #fff; 
	border:solid 1px #d9d9d9; 
	border-top:solid 1px #c0c0c0; 
	border-right:none;
}

/* Style the "X" text button next to the search input field */
#delete {
	float:left; 
	width:16px;
	height:29px; 
	line-height:27px; 
	margin-right:15px; 
	padding:0 10px 0 10px;
	font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
	font-size:22px; 
	background: #fff;  
	border:solid 1px #d9d9d9; 
	border-top:solid 1px #c0c0c0; 
	border-left:none;
}
/* Set default state of "X" and hide it */
#delete #x {
	color:#A1B9ED; 
	cursor:pointer;
	display:none;
}
/* Set the hover state of "X" */
#delete #x:hover {
	color:#36c;
}
/* Syle the search button. Settings of line-height, font-size, text-indent used to hide submit value in IE */
#submit {
	cursor:pointer; 
	width:70px; 
	height: 31px; 
	color: white; 
	background: #357AE8; 	 
	border: 1px solid #3079ED; 
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 
}
/* Style the search button hover state */
#submit:hover {
	background: #357AE8; 
	border: 1px solid #2F5BB7;
}
/* Clear floats */
.fclear {clear:both}

a{
	color:#4d90fe;
}

a#advanced_mode{
	display: block;
	width:100%;
	text-decoration: none;
	font-size: 10px;
}

#stats a{
	text-decoration: none;
}

input[type="submit"] {
    font-family: FontAwesome;
    font-size: 1.3333333333333333em;
}

p.knober{
	margin-top: 50px;
	margin-left: 50px;
}

.separator_stats{
	display: block;
	width: 400px;
	border-top: 1px solid #6a6a65;
	height: 3px;
	margin: auto;
}

.bug_left{
	float: left;
	width: 200px;
	font-size: 14px;
}

.bug_right{
	float: right;
	width: 759px;
	border-left: 1px solid #6a6a65;
}

.bug_right p{
	margin-left: 20px;
}

.bug_result_title{
	font-size: 25px;
	text-transform: underline;
	margin-top: 10px;
	margin-bottom: -10px;
	border-bottom: 1px solid #6a6a65;
}

p.bug_result_commenter{
	width: 100%;
	text-align: right;
	font-size: 14px;
	border-bottom: 1px solid #6a6a65;
}

.bug_result{
	width: 100%;
	margin-bottom: 40px;
}

#clear{
	clear: both;
	height: 30px;
	width: 100%;
	display: block;
}

p#search_statistics{
	text-align: center;
	margin-left: -20px;
}

#download_button{
	margin-left: 170px;
	margin-bottom: 100px;
	display: none;
	width: 100%;
}

#download_button a{
	display: block;
	width: 80px;
	float: left;
	margin-left: 20px;
	text-align: center;
	height: 30px;
	padding-top: 10px;
	color:white;
	background-color: #357AE8;
	border: 1px solid #3079ED; 
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 
	text-decoration: none;
}
#list_results {
	overflow-x: hidden;
	float:left;
	width: 300px;
	margin-bottom: 20px;
	height: 550px;
	overflow-y: scroll;
}

.bug_tumbnail{
	padding: 10px;
	height: 70px;
	border-bottom: 1px solid #6a6a65; 
	overflow: hidden;
}

.bug_tumbnail:hover{
	cursor: pointer;
}

.bug_project_left{
	margin-bottom: 5px;
	font-size: 18px;
	width: 100%;
	font-weight: bold;
}

.bug_title_left{
	font-size: 15px;
	width: 100%;
}


#bug_details {
	overflow-x: hidden;
	float: right;
	margin-bottom: 20px;
	width: 800px;
	height: 550px;
	overflow-y: scroll;
}

.project_image{
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
}

.bug_details{
	padding: 20px;
}

ul.classification{
	float: left;
	width: 150px;
	height: 80px;
	margin: 20px;
	margin-bottom: 30px;
}

li.item, li.item-right{
	width: 200px;
	text-decoration: none;
}

li.item{
	float:left;
}

li.item-right{
	margin-top: -20px;	
	float: right;
}

.wrap-li{
	width: 100px;
}

h4{
	border-bottom: 1px solid #6a6a65; 
}

h4:hover{
	cursor: pointer;
}
#pagination{
	text-align: center;
	width: 100%;
	margin-bottom: 30px;
	float: left;
}

#pagination ul{
	padding-left: 0px;
	height: 30px;
	margin: auto;
	text-decoration: none;
	list-style: none;
}

#pagination ul li{
	margin-right: 5px;
	float:left
}

#loading{
	
	display: block;
	background-image: url(img/726.GIF);
	background-repeat: no-repeat;
	
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://sampsonresume.com/labs/pIkfp.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
